/* Tokyo Night userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #414868 !important;
    --zen-primary-color: #7aa2f7 !important;
    --zen-colors-secondary: #414868 !important;
    --zen-colors-tertiary: #1a1b26 !important;
    --zen-colors-border: #7aa2f7 !important;
    --toolbarbutton-icon-fill: #7aa2f7 !important;
    --lwt-text-color: #c0caf5 !important;
    --toolbar-field-color: #c0caf5 !important;
    --tab-selected-textcolor: #7aa2f7 !important;
    --toolbar-field-focus-color: #c0caf5 !important;
    --toolbar-color: #c0caf5 !important;
    --newtab-text-primary-color: #c0caf5 !important;
    --arrowpanel-color: #c0caf5 !important;
    --arrowpanel-background: #1a1b26 !important;
    --sidebar-text-color: #c0caf5 !important;
    --lwt-sidebar-text-color: #c0caf5 !important;
    --lwt-sidebar-background-color: #1a1b26 !important;
    --toolbar-bgcolor: #1a1b26 !important;
    --newtab-background-color: #1a1b26 !important;
    --zen-themed-toolbar-bg: #1a1b26 !important;
    --zen-main-browser-background: #1a1b26 !important;
    --toolbox-bgcolor-inactive: #1a1b26 !important;
  }

  #permissions-granted-icon {
    color: #1a1b26 !important;
  }

  .sidebar-placesTree {
    background-color: #1a1b26 !important;
  }

  #zen-workspaces-button {
    background-color: #1a1b26 !important;
  }

  #TabsToolbar {
    background-color: #1a1b26 !important;
  }

  .urlbar-background {
    background-color: #1a1b26 !important;
  }

  .content-shortcuts {
    background-color: #1a1b26 !important;
    border-color: #7aa2f7 !important;
  }

  .urlbarView-url {
    color: #7aa2f7 !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #1a1b26 !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #414868 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #1a1b26;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #7aa2f7 !important;
    --identity-icon-color: #7aa2f7 !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #73daca !important;
    --identity-icon-color: #73daca !important;
  }

  .identity-color-green {
    --identity-tab-color: #9ece6a !important;
    --identity-icon-color: #9ece6a !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #e0af68 !important;
    --identity-icon-color: #e0af68 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ff9e64 !important;
    --identity-icon-color: #ff9e64 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f7768e !important;
    --identity-icon-color: #f7768e !important;
  }

  .identity-color-pink {
    --identity-tab-color: #bb9af7 !important;
    --identity-icon-color: #bb9af7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #9d7cd8 !important;
    --identity-icon-color: #9d7cd8 !important;
  }

  hbox#titlebar {
    background-color: #1a1b26 !important;
  }

  #zen-appcontent-navbar-container {
    background-color: #1a1b26 !important;
  }
}